

.ghe { /* ghế thường */
    width: 35px;
    height: 35px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    background-color: rgb(123, 122, 122);
    color: #fff;
  }
  
  
  .gheDaDat {
    background-color: rgb(232, 76, 76);
    cursor: no-drop;
  }
  
  .gheDangDat {
    background-color: rgb(18, 176, 18) !important;
  }
  
  
  .gheVip {
    background-color: rgb(228, 74, 8);
  }

  .gheDaDuocDat { /*ghế được chính mình đặt */
    background-color: rgb(246, 246, 246);
    -webkit-box-shadow: -1px 2px 18px -6px orange; 
    box-shadow: -1px 2px 18px -6px orange;
    color: orange !important;
    border: 1px solid orange;

  }

  .gheKhachDat {
    background-color: rgb(242, 25, 191) !important;
    cursor: no-drop
    ;
  }