

.ghe { /* ghế thường */
    width: 35px;
    height: 35px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    background-color: rgb(123, 122, 122);
    color: #fff;
  }
  
  
  .gheDaDat {
    background-color: rgb(232, 76, 76);
    cursor: no-drop;
  }
  
  .gheDangDat {
    background-color: rgb(18, 176, 18) !important;
  }
  
  
  .gheVip {
    background-color: rgb(228, 74, 8);
  }