




.openModal {

    transform: translateY(0);
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.closeModal {
    transform: translateY(-100%);
    opacity: 0;
    transition: all 300ms ease-in-out;

}