.text-color-red {
    color: red;
}


.content {
    @apply text-sm text-white ml-5 mt-5 hover:text-yellow-500 duration-500;
}


.animation-scale {
    @apply transition duration-500 ease-in-out bg-blue-600 hover:bg-red-600 transform hover:-translate-y-1 hover:scale-110
}